/* Estilo básico para a navbar */
.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo h2 {
    color: #fff;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    color: #f0a500;
  }
  